html, body{
    margin: 0;
}

.header{
    margin: 0;
    background-color: #F55A5A;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
}

.header-nav-img{
    margin: 5px 10px 0px 0px;
    width: 24px;
}

.header-nav-h1{
    font-weight: 500;
    font-family: Inter, sans-serif;
}

article.journal-entry{
    display: flex;
    font-family: "Inter";
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.main-img-container{
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

.main-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.side-details{
    display: grid;

}

.side-details-top{
    display: flex;
    gap: 5px;
}

.side-details-marker{
    width:8px;
    height: fit-content; 
    margin-right: 4px;
    margin-top: 2px;
}

.side-details .country{
    font-size: small;
    font-weight: 600;
}

.side-details  .map-link{
    font-size: small;
    margin-left: 4px;
}

.side-details .entry-title{
    font-size:xx-large;
    font-weight: bold;
}

.side-details .trip-dates{
    font-size: large;
    font-weight: bold;
}

.side-details .entry-text{
    max-width: 500px;
    min-width: 100px;
    margin-top: 3px;
}